

    <main id="contact">
        <!-- In case of error, you should display div with class "errorContainer" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        {{#if error}}
         <div>
            <div class="errorContainer">
                <p>{{error}}</p>
            </div>
        </div> 
        {{/if}}
        {{#if isAuthenticated}}
      <div class="contact-box">
            <h1>Leave a Review</h1>
            <form  method="POST">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Name..." required>
                
                <label for="rating">Rating:</label>
                <select id="rating" name="rating" required>
                    <option value="5">5 (Excellent)</option>
                    <option value="4">4 (Good)</option>
                    <option value="3">3 (Average)</option>
                    <option value="2">2 (Poor)</option>
                    <option value="1">1 (Terrible)</option>
                </select>
      
            <label for="review">Review:</label>
                <textarea id="review" name="review" rows="20" required placeholder="Your review..."></textarea>
                <input type="submit" value="Submit">
            </form>
            <p>Your reviews are very important to us, we appreciate it</p>
        </div> 
        {{/if}}
      
        <br>

        <div class="contact-info">
        <h2>Contact Us</h2>
        <p>Leave a review is active , when you have a profile . Go sign up for free from <a href="/register">here</a></p>
        <p>If you have any questions or need assistance, please don't hesitate to get in touch with us:</p>
        <p>Email: <a href="mailto:contact@example.com">contact@example.com</a></p>
        <p>Phone: +1 (123) 456-7890</p>
        <p>Address: 123 Main Street, City, Country</p>
    </div>
        
        
    </main>
