

    <body class="contact-custom-image bg-cover bg-center overflow-y-auto min-h-screen">

  
        {{#if error}}
<div class="max-w-lg mx-auto">
        <div class="error-container bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
            <p>{{error}}</p>
        </div>
    </div>
        {{/if}}

      
        <br>

        <div class="text-center mt-2">
        <h2 class="text-4xl text-white font-bold">Contact Us</h2>
        <p class="text-white pb-1">Leave a review is active , when you have a profile . Go sign up for free from <a class="text-[#fef3c7] font-bold  transition-all duration-100 delay-100 hover:text-[#ddd6fe]" href="/register">here</a></p>
        <p class="text-white pb-1">If you have any questions or need assistance, please don't hesitate to get in touch with us:</p>
         <div class="flex items-center justify-center mt-5">
        <div class=" bg-gray-200 rounded-lg  shadow-md flex items-center flex-col justify-center p-5">

        <p class="mb-2 text-gray-700 text-sm font-bold">Email: <a class=" transition-all font-bold duration-100 delay-100 hover:text-[#fef3c7]" href="mailto:example_email@example.com">contact@example.com</a></p>
        <p class="mb-2 text-gray-700 text-sm font-bold">Phone: +1 (123) 456-7890</p>
        <p class="mb-2 text-gray-700 text-sm font-bold">Address: 123 Main Street, City, Country</p>
        </div>
         </div>
    </div>

            {{#if isAuthenticated}}
        <div class="text-center mt-2">
            <h1 class="text-3xl text-white font-bold">Leave a Review</h1>

            <div class="max-w-sm mx-auto">
  <form class="bg-gray-200 rounded-lg shadow-md p-5" method="POST">
    <div class="mb-4">
      <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Name:</label>
      <input type="text" id="name" name="name"  placeholder={{username}}  class="w-full py-2 px-3 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500">
    </div>
    <div class="mb-4">
      <label for="rating" class="block text-gray-700 text-sm font-bold mb-2">Rating:</label>
      <select id="rating" name="rating" required class="w-full py-2 px-3 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500">
        <option value="5-Excellent">5 (Excellent)</option>
        <option value="4-Good">4 (Good)</option>
        <option value="3-Average">3 (Average)</option>
        <option value="2-Poor">2 (Poor)</option>
        <option value="1-Terrible">1 (Terrible)</option>
      </select>
    </div>
    <div class="mb-4">
      <label for="review" class="block text-gray-700 text-sm font-bold mb-2">Review:</label>
      <textarea id="review" name="comment" rows="5" required placeholder="Your review..." class="w-full py-2 px-3 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"></textarea>
    </div>
    <div>
      <button type="submit" class="bg-[#374151]  text-[#fef3c7] font-bold py-2 px-4 rounded shadow-white transition-all duration-100 delay-100 hover:text-[#ddd6fe] hover:shadow-lg">Submit</button>
    </div>
  </form>
  <p class="text-center text-white mt-4">Your reviews are very important to us, we appreciate it.</p>
</div>

        {{/if}}
        
        
    </body>
