 <li>
 <article id="description">
          
            <p>Reservation name: {{name}}</p>
            <p>Guests: {{guests}}</p>
            <p>Date: {{date}}</p>
            <p>Time: {{time}}</p>

        </article>

 </li>