

<body class="home-custom-image bg-cover bg-center h-screen">
         <div class="text-center mt-2 ">

        <h2 class="text-4xl font-bold mb-4 text-white">About <span class="text-white">Us</span></h2>
         <p class="text-white pb-1">
            Welcome to Food Hut, where culinary excellence meets a cozy ambiance. 
            Established in 2023, we have been serving gourmet cuisine with a passion for farm-to-table ingredients.
        </p>
        <p class="text-white pb-1">
            Our mission is to provide an unforgettable dining experience, combining delicious flavors, exceptional service, and a warm atmosphere.
        </p>
        <p class="text-white pb-1">
            Visit us at Las Ramblas,Barcelona No56 or make a reservation by clicking <a class="text-[#fef3c7] transition-all font-bold duration-100 delay-100 hover:text-[#ddd6fe]" href="/book">Here</a>.
        </p>


        <div class="w-full h-64 px-10 rounded-lg shadow-md overflow-hidden mt-10">
    <div class="aspect-w-16 aspect-h-9">
        <iframe class="w-full h-64 bg-gray-700 trabsition-all duration-100 delay-100 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1496.754655422117!2d2.1691377080449175!3d41.38474446385584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2f694414643%3A0xccfce16ab2cf07a4!2zUmFtYmxhIGRlbHMgRXN0dWRpcywgMzYsIDA4MDAyIEJhcmNlbG9uYSwg0JjRgdC_0LDQvdC40Y8!5e0!3m2!1sbg!2sbg!4v1694718432592!5m2!1sbg!2sbg" allowfullscreen="" loading="lazy"></iframe>
  
</div>
        </div>
    </body>

