 <section class="gallery">
        <h1>Gallery</h1>
        <p>Welcome to our cozy restaurant! Our dining space is thoughtfully designed to create a warm and inviting atmosphere for our guests.
             We believe that a great meal is not just about the food; 
             it's also about the experience. 
             <span>Take a look at our gallery below to get a glimpse of our charming restaurant interior.</span></p>

       <div class="gallery-container">

    <div class="gallery-row">
        
        <div class="gallery-img">
            <img src="/images/gallary-1.jpg"/>
        </div>
        <div class="gallery-img">
            <img src="/images/gallary-2.jpg"/>
        </div>
        <div class="gallery-img">
            <img src="/images/gallary-3.jpg"/>
        </div>
        
    </div>
    
    <div class="gallery-row">
        <div class="gallery-img">
            <img src="/images/gallary-5.jpg"/>
        </div>
        <div class="gallery-img">
            <img src="/images/gallary-7.jpg"/>
        </div>
        <div class="gallery-img">
            <img src="/images/gallary-6.jpg"/>
        </div>
    </div>
     <div class="gallery-row">
        <div class="gallery-img">
            <img src="/images/gallary-10.jpg"/>
        </div>
        <div class="gallery-img">
            <img src="/images/gallary-11.jpg"/>
        </div>
        <div class="gallery-img">
            <img src="/images/gallary-12.jpg"/>
        </div>
    </div>

</div>
    </section>