
    <main id="home">
          
        <div class="content">
            <h1>Food<br><span> Hut</span></h1>
            <p>Always fresh <strong>&</strong> Delightful !</p>
            <a href="/about" class="buy">About</a>
            <a href="/gallery" class="buy">View our gallery</a>

        <br></br>
    <div class="reviews">
        <h2>Customer Reviews</h2>
        <div class="review">
          
            <h3>John Doe</h3>
            <p>"This product is amazing! I love it."</p>
        </div>
        <div class="review">
           
            <h3>Jane Smith</h3>
            <p>"I can't believe how great this product is. Highly recommended!"</p>
        </div>
        <div class="review">
           
            <h3>Bob Johnson</h3>
            <p>"I've been using this product for a month now, and it's fantastic."</p>
        </div>
    </div>
            </div>
          
    </main>

 