

<body class="home-custom-image bg-cover bg-center overflow-y-auto min-h-screen">
  <div class="text-center mt-2">
    <h1 class="text-4xl font-bold mb-4 text-white">Food Hut</h1>
    <p class="text-xl text-white mb-5">
      Always fresh <span class="text-pink-600">&</span> Delightful!
    </p>
    <a href="/about" class="bg-[#374151]  text-[#fef3c7] font-bold py-2 px-4 rounded shadow-white transition-all duration-100 delay-100 hover:text-[#ddd6fe] hover:shadow-lg">
      About
    </a>
  </div>

  <!-- Image Gallery Section -->
  <div class="flex flex-wrap justify-center mt-10">
    <!-- Gallery Item 1 -->

    <div class="m-2">
      <img src="\images\gallary-1.jpg" alt="Image 1" class="w-64 h-64 object-cover rounded-md shadow-md">
    </div>
    <!-- Gallery Item 2 -->

    <div class="m-2">
      <img src="\images\gallary-2.jpg" alt="Image 2" class="w-64 h-64 object-cover rounded-md shadow-md">
    </div>
    <!-- Gallery Item 3 -->

    <div class="m-2">
      <img src="\images\gallary-3.jpg" alt="Image 3" class="w-64 h-64 object-cover rounded-md shadow-md">
    </div>
    <!-- Gallery Item 4 -->
    <div class="m-2">
      <img src="\images\gallary-4.jpg" alt="Image 1" class="w-64 h-64 object-cover rounded-md shadow-md">
    </div>
    <!-- Gallery Item 5 -->

    <div class="m-2">
      <img src="\images\gallary-5.jpg" alt="Image 2" class="w-64 h-64 object-cover rounded-md shadow-md">
    </div>
    <!-- Gallery Item 6 -->

    <div class="m-2">
      <img src="\images\gallary-6.jpg" alt="Image 3" class="w-64 h-64 object-cover rounded-md shadow-md">
    </div>
    <!-- Gallery Item 7 -->
     <div class="m-2">
      <img src="\images\gallary-7.jpg" alt="Image 1" class="w-64 h-64 object-cover rounded-md shadow-md">
    </div>

    <!-- Gallery Item 8 -->
    <div class="m-2">
      <img src="\images\gallary-8.jpg" alt="Image 2" class="w-64 h-64 object-cover rounded-md shadow-md">
    </div>

    <!-- Gallery Item 9 -->
    <div class="m-2">
      <img src="\images\gallary-9.jpg" alt="Image 3" class="w-64 h-64 object-cover rounded-md shadow-md">
    </div>

     <!-- Gallery Item 10 -->
    <div class="m-2">
      <img src="\images\gallary-10.jpg" alt="Image 3" class="w-64 h-64 object-cover rounded-md shadow-md">
    </div>

 
  </div>
</body>


