<body class="bg-custom-image bg-cover bg-center h-screen ">

  <div class="text-center mt-10 ">
    <h1 class="text-4xl font-bold mb-4 text-white">Food Hut</h1>
    <p class="text-xl text-white">Always fresh <span class="text-pink-600"> & </span> Delightful!</p>
  </div>

</body>