  <body>

    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold mb-4">Food Hut</h1>
<p class="text-lg text-gray-700">Always fresh <strong class="text-lg text-pink-600">&</strong> Delightful !</p>
    </div>
  </body>