

    <main id="menu">
            <h1>Menu</h1>
                    <button href="/fullmenu" class="btn-menu">View All</button>
    
        <section class="menu">

            {{#if meals}}
            <div class="offer-list">
                {{#each meals}}
            {{>menucard}}
            {{/each}}
            </div>
            {{else}}
             <div class="no-offer">
                <p>There are no meals offers today,sorry.</p>
            </div> 
            {{/if}}

        </section>
    </main>
