
<body class="home-custom-image bg-cover bg-center overflow-y-auto min-h-screen">
  <div class="text-center mt-2">
            <h1 class="text-4xl text-white font-bold mb-5 ">Menu</h1>
                    <a href="/fullmenu" class="bg-[#374151]  text-[#fef3c7] font-bold py-2 px-4 rounded shadow-white transition-all duration-100 delay-100 hover:text-[#ddd6fe] hover:shadow-lg">View All</a>
    

            {{#if meals}}
<div class="container mt-5 mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                {{#each meals}}
            {{>menucard}}
            {{/each}}
            </div>
            {{else}}
             <div class="no-offer h-10 p-2 bg-gray-100 mt-5 shadow-md ">
    <p class=" font-bold text-gray-600">There are no meal offers today, sorry.</p>
</div>
            {{/if}}
        </div>
</body> 
