

    <main id="create">
        <!-- In case of error, you should display div with class "errorContainer" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        {{#if error}}
        <div>
            <div class="errorContainer">
                <p>{{error}}</p>
            </div>
        </div> 
        {{/if}}
        <section id="create-container">
            <div class="create-container-info">
                <h1>Create Meal Offer</h1>
                <h4>Post your meal to guests menu</h4>
                <form action="#" method="POST">
                    <label>Type of meal:</label>
                    <select id="type" name="type">
                        <option value="">-------</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Dinner">Dinner</option>
                        <option value="Fast Food">Fast Food</option>
                        <option value="Gourmet">Gourmet</option>
                    </select>
                    <label>Name:</label>
                    <input type="text" id="name" name="name">
                    <label>Image:</label>
                    <input type="text" id="image" name="image" placeholder="http://...">
                    <label>Price:</label>
                    <input type="number" id="price" name="price">
                    <label>Weight:</label>
                    <input type="number" id="Weight" name="Weight">
                    <label>Description:</label>
                    <textarea id="description" name="description"></textarea>

                    <input type="submit" id="btn" value="CREATE"></input>
                </form>
            </div>
        </section>
    </main>

